@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo a {
  text-decoration: none;
  color: #111;
  font-size: 1.4rem;
}

ul {
  display: flex;
  gap: 10px;
}

ul li {
  list-style-type: none;
  font-size: 1rem;
  border: none;
  padding: 5px 10px;
  background-color: rgb(62, 117, 234);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Navbar button {
  color: black;
  background-color: rgb(51, 231, 51);
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.slider {
  width: 300px;
  height: 90vh;
  border-right: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 2px solid gray;
}

.slider .photos {
  width: 150px;
  height: 350px;
  padding: 100px;
  overflow: hidden;
}

.slider .arrow {
  padding: 10px;
  cursor: pointer;
}

.right {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-top: 100px;
  padding-right: 20px;
  border-left: 2px solid gray;
}
.right .input {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
}

.right .input input {
  padding: 5px;
}

.right .input input:focus {
  border-color: 1px solid #5db996;
}

.right .input button {
  padding: 5px 10px;
  background-color: #5db996;
  color: black;
  border: none;
  cursor: pointer;
}

.right .image {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.right .font-style {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
}

.middle {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.middle .arrow {
  cursor: pointer;
}
